*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #757575;
    /* var(--primary-text-color) Line */
    --title-text-color: #212121;
    /* var(--title-text-color) Title */
    --accent-color: #FFFFFF;
    /* var(--accent-color) Accent */
    --link-focus: #2196F3;
    /* var(--link-focus) */
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: var(--title-text-color);
    background: var(--accent-color);
}

ul {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* blackout body */
.blackout {
    position: relative;
}




/* HEADER */
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/* logo */
.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.page-header .web {
    color: var(--link-focus);
}

.page-header .studio {
    color: #000000;
}

.nav-container .logo {
    display: flex;
    padding: 24px 0px;
    margin: 0;
}



/* Site-nav  Auth-nav  link*/
.header-container .link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    
transition-property: color, cursor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container .link:hover,
.header-container .link:focus {
    color: var(--link-focus);
    cursor: pointer;

}



.auth-nav .link {
    display: flex;

    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
}





/* Site-nav */
.poloska {
    display: flex;
    position: relative;
    overflow: hidden;

    margin-left: 50px;
    
    transition-property: background;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.poloska:first-child {
    margin-left: 93px;
}

.site-nav {
    display: flex;
}

.nav-container {
    display: flex;
}


/* Auth-nav */
/* .auth-nav .item+.item {
    margin-left: 100px;
} */

.auth-nav {
    display: flex;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container container {
    display: flex;
}


/* fover */
.poloska .link::before {
    position: absolute;
    margin: 0;
    padding: 0;
    content: "";
    width: 100%;
    height: 4px;
    top: 76px;

    background: rgba(33, 150, 243, 0);
    border-radius: 2px;

    transition-property: background;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.poloska .link:hover::after {
    position: absolute;
    content: "";
    margin: 0;
    padding: 0;
    content: "";
    width: 100%;
    height: 4px;
    top: 76px;

    background: rgba(33, 150, 243, 1);
    border-radius: 2px;
}



/* mailto */
.link-mailto {
    display: flex;
}

.item-block .link {
    align-items: center;
}

.icon-mailto {
    display: flex;
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 12px;
    width: 16px;

    fill: #AFB1B8;

    transition-property: fill, cursor;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mailto:hover,
.icon-mailto:focus {
    fill: var(--link-focus);
    cursor: pointer;
}

.item-mailto {
    display: flex;
    margin: 0px;

    transition-property: fill, cursor;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header-container .link:hover .icon-mailto,
.header-container .link:focus .icon-mailto {
    fill: var(--link-focus);
    cursor: pointer;
}




/* tel */
.link-tel {
    display: flex;
}

.icon-tel {
    display: flex;
    margin: 0px 10px 0px 30px;
    height: 16px;
    width: 10px;

    fill: #AFB1B8;

    transition-property: fill, cursor;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-tel:hover,
.icon-tel:focus {
    fill: var(--link-focus);
    cursor: pointer;
}

.item-tel {
    display: flex;
    margin: 0px;

    transition-property: fill, cursor;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container .link:hover .icon-tel,
.header-container .link:focus .icon-tel {
    fill: var(--link-focus);
    cursor: pointer;

}




/* HERO */
.hero-container {

    background-position: 50% 50%;
    max-width: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
    background-size: cover;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/foto_hero.jpg);
    margin: 0 auto;
}


.page-main .hero {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}



/* hero - h1 */
.hero .title {
    padding: 0px;
    margin: 0;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-color);

}


/* button */
.hero .button {
    margin-top: 30px;
    padding: 10px 32px;
    width: 216px;
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.05em;
    color: var(--accent-color);
    background: var(--link-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;


transition-property: color, background, cursor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button:hover,
.hero .button:focus {
    color: var(--accent-color);
    background: #0b85e8;
    cursor: pointer;
}





/* --- Наші переваги --- */
/* section */
.benefits {
    padding: 0;
    padding-top: 94px;
}

/* div */
.benefits-container {
    display: flex;
    width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
}

/* h2 */
.benefits .our-advantages {
    display: flex;
    margin: 0px;
    font-size: 0.1px;
    line-height: 1.16px;
    color: rgba(0, 0, 0, 0);
}

/* benefits - h3 */
.benefits .title {
    display: flex;
    margin: 0px;
    margin-top: 30px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}


/* benefits - p */
.benefits .line {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* ul */
.benefits .card-set {
    display: flex;
    grid-column-gap: 30px;
}

/* li */



/* span */
.card-set-block {
    display: flex;
    margin: 0;
    padding: 0;

    height: 120px;
    width: 270px;

    justify-content: center;
    align-items: center;

    background: #F5F4FA;
    border-radius: 4px;
}

/* svg */
.card-set-img {
    display: flex;
    height: 70px;
    width: 70px;

    justify-content: center;
    align-items: center;

    fill: #212121;
}









/* --- Чим ми займаємося h3 --- */
.services {
    padding: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}


.services-container {
    width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
}

.services .title {
    padding: 0;
    margin: 0px 0px 50px 0px;
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
}


.services-blok {
    display: flex;
    grid-column-gap: 30px;
    margin: 0px;
}


/* Нижний шрифт */
/* title-img li */
.title-img {
    position: relative;
}


.picture-title {
    font-family: 'Roboto';
    font-style: normal;
    margin: 0;
    padding: 24px 0px 0px 0px;


    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.block-title {
    position: absolute;

    width: 370px;
    height: 70px;
    left: 0px;
    top: 224px;

    background: rgba(47, 48, 58, 0.8);
}






/* --- Наша команда --- */
.team {
    background: #F5F4FA;
    padding: 94px 0;
}

.team .background {

    background: var(--accent-color);
}

.team-container {
    width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
}



/* team title-team h3 */
.team .title-team {
    text-align: center;
    margin: 0;
    margin-bottom: 50px;


    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* team title h3 */
.team .title {
    display: flex;
    margin: 0;
    justify-content: center;

    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;

    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* team line p */
.team .line {
    display: flex;
    margin: 10px 0px 16px 0px;
    justify-content: center;

    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;

    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-blok .img-text {
    padding: 30px 0px 30px 0px;
}



.team .team-blok {
    display: flex;
    grid-column-gap: 30px;
    margin-top: 50px;
}

.team-blok .background {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* ul */
.icon-smm {
    display: flex;
    justify-content: center;
    grid-column-gap: 10px;
}





/* smm icon */
/* li */
.icon-block-smm {
    border-radius: 50%;
transition-property: background, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-block-smm:hover,
.icon-block-smm:focus {
    background: #2196F3;
    
}

/* a */
.icon-block-linck {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;

    border-radius: 50%;

    transition-property: background, border-radius;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-block-linck:hover,
.icon-block-linck:focus {
    background: #2196F3;
    
}




/* svg */
.icon {
    display: flex;
    fill: #AFB1B8;

    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-block-linck:hover .icon,
.icon-block-linck:focus .icon {
    fill: #FFFFFF;
}


/* --- Постійні клієнти Regular customers --- */

.regular-customers {
    padding: 94px 0px;
    margin: 0px;
}

.regular-customers-container {
    width: 1200px;
    padding: 0 15px;
    margin: 0px;
}


.regular-customers-container .customers-title {
    display: flex;
    font-style: normal;
    text-align: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 50px;
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
}



/* логотип постійні клієнти */

/* ul */
.customers-icon-logo {
    display: flex;
    justify-content: center;
    grid-column-gap: 30px;
}

/* li */
.services-link {
    display: flex;
    height: 92px;
    width: 170px;
    margin: 0px;
    border-radius: 4px;
    justify-content: center;
    border: 1px solid #AFB1B8;

transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.services-link:hover,
.services-link:focus {
    border: 1px solid #2196F3;
}


/* a */
.services-link {
    display: flex;
    justify-content: center;
    align-items: center;

}



/* svg */
.customers-icon {
    display: flex;
    fill: #AFB1B8;
    
    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.services-link:hover .customers-icon,
.services-link:focus .customers-icon {
    fill: #2196F3;
}





/* --- Footer --- */

.footer {
    display: flex;
    padding: 60px 0;
    background: #2F303A;
}

.footer-container {
    display: flex;
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    grid-column-gap: 70px;
    align-items: baseline;
}



.footer-address {
    display: flex;
    flex-direction: column;
}



/* logo */
.footer .logo {
    display: flex;
    padding: 0;
    margin: 0px;

    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--link-focus);
}

.footer .web {
    margin: 0;
    color: var(--link-focus);
}

.footer .studio {
    margin: 0;
    color: var(--accent-color);
}

/* address */
.address-link {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--accent-color);

transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: var(--link-focus);
}

.item-address {
    margin-top: 20px;
}


/* mailto  tel */
.footer .link {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link .item {
    margin: 0;
    margin-top: 9px;
}


.address .link:hover,
.address .link:focus {
    color: var(--link-focus);
}


.address {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer-link {
    display: flex;
    flex-direction: column;
}



/* footer-block div 2 ПРИЄДНУЙТЕСЬ */
.footer-title {
    display: flex;

    margin: 0;
    margin-bottom: 20px;

    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* ul */
.footer-icon-smm {
    display: flex;
    justify-content: flex-start;
    grid-column-gap: 10px;
}



/* smm icon */
/* li */
.footer-icon-block-smm {
border-radius: 50%;

transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-block-smm:hover,
.footer-icon-block-smm:focus {
    background: #2196F3;
}

/* a */
.footer-icon-block-linck {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

transition-property: background;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-block-linck:hover,
.footer-icon-block-linck:focus {
    background: #2196F3;
}



/* svg */
.footer-icon {
    display: flex;
    fill: #FFFFFF;

transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-block-linck:hover .footer-icon,
.footer-icon-block-linck:focus .footer-icon {
    fill: #FFFFFF;
}


/* footer-email div 3 */
.footer-email {
    margin-left: 23px;
}

.input-footer {
    /* position: absolute; */
        width: 358px;
        height: 50px;
        padding: 15px 16px;
        background-color: rgba(47, 48, 58, 1);
color: #FFFFFF;
        border: 1px solid rgba(255, 255, 255, 0.3);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
}

.footer-form {
    display: flex;
    gap: 12px;
}


.footer-button {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 28px;
            border: 0;
            min-width: 200px;

            color: #FFFFFF;
            
            font-family: inherit;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.9;
            letter-spacing: 0.06em;

            background-color: rgba(33, 150, 243, 1);
            box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
            border-radius: 4px;
            cursor: pointer;
        transition-property: color, background, cursor;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
color: var(--accent-color);
background: #0b85e8;
cursor: pointer;
}


.footer-button-svg {
    fill: rgba(255, 255, 255, 1); 
}




/* --- PORTFOLIO --- */


.page-header {
    border-bottom: 1px solid #ECECEC;
}

/* button */

/* section */
.portfolio {
    padding: 94px 0px 94px 0px;
}

/* div */
.portfolio-container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

/* h1 */
.portfolio .title {
    display: flex;
    margin: 0px;
    font-size: 0.1px;
    line-height: 1.16px;
    color: rgba(0, 0, 0, 0);
}

/* li */
.portfolio .button-portfolio {
    display: flex;

    padding: 6px 22px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: #F5F4FA;
    border-radius: 4px;
    border: 0px;

transition-property: color, background, box-shadow, border-radius;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .button-portfolio:hover,
.portfolio .button-portfolio:focus {
    color: var(--accent-color);
    background: var(--link-focus);
    cursor: pointer;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


/* ul  portfolio-blok */
.portfolio-blok {
    display: flex;
    grid-column-gap: 8px;
    margin: 0;

}

.portfolio-blok {
    justify-content: center;
    display: flex;
}

.portfolio-blok .button-Portfolio {
    display: flex;
}


/* IMG */
.img-blok {
    margin: 50px 0px 0px 0px;
    grid-gap: 30px;
    display: flex;
    flex-wrap: wrap;

}



/* text */
/* portfolio - h2 */
.img-blok .title {
    display: flex;
    margin: 0px 0px 0px 0px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}



/* portfolio - p */
.img-blok .line {
    display: flex;
    margin: 4px 0px 0px 0px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;
}

/* div img-title-line */
.img-blok .img-title-line {
    border: 1px solid #EEEEEE;
    padding: 20px 0px 24px 24px;
}

.img-blok .background{
    transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.img-blok .background:hover,
.img-blok .background:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}



/* анимация */
/* div pos-abs */
.pos-abs {
    position: relative;
    overflow: hidden;
}

/* div background-block */
.background-block {
    position: absolute;

    margin: 0;
    padding: 0;

    align-items: center;
    width: 370px;
    height: 294px;
    left: 0px;
    top: 0px;

    background: rgba(33, 150, 243, 0.9);

    transform: translatey(100%);

    transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.background:hover .background-block {
    transform: translatey(0);
}


/* p background-text */
.background-text {

    font-family: 'Roboto';
    font-style: normal;
    margin: 0;
    padding: 63px 24px;

    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}







/* MODAL */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    z-index: 1;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1) translate(-50%, -50%);
}

.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 6px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    border-radius: 50%;

    transition-property: transition-duration, cursor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
    transition-duration: 250ms;
    cursor: pointer;
}

.bcard-set-img {
    padding: 0;
    margin: 0;
    fill: #212121;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .bcard-set-img {
    fill: #2196f3;
}




.modal-contact {
padding: 40px;
}

/* Залиште свої дані, ми вам передзвонимо */
/* modal-text h3  */
.modal-text {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}


/* Ім'я modal */
.contact-form {
    display: block;
    justify-content: center;
}


/* form-label */
.form-label {
    display: block;
    font-family: 'Roboto';
    font-style: normal;

    padding: 0;
    margin: 10px 0px 4px 0px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: #757575;
}

.form-label:first-child {
margin: 12px 0px 4px 0px;
}

/* div */
.form-control {
    display: block;
    position: relative;
    margin: 0;

}

/* input */
.form-input {
    display: block;
    padding: 12px 12px 12px 32px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
    border: 1px solid #2196F3;
}




/* svg */
.form-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: #212121;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.form-input:hover+.form-icon,
.form-input:focus+.form-icon {
    fill: #2196F3;
}




.form-textarea {
    display: block;
    Width: 448px;
    height: 120px;

    margin: 0;
    padding: 12px 16px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.form-textarea:focus,
.form-textarea:hover {
    border: 1px solid #2196F3;
}


.form-textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}



/* checkbox */
.checkbox-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.7;
}


.checkbox-label {
    padding-left: 37px;
}


.checkbox-label.text {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #757575;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.checkbox-input:checked+.checkbox-svg {
    fill: #FFFFFF;
    background-color: #2196F3;
    border: none;
}


.checkbox-svg {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    fill: #FFFFFF;
    border: 2px solid #212121;
    border-radius: 4px;
    background-color: #FFFFFF;
}


.checkbox-link {
    position: relative;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;

    letter-spacing: 0.03em;
    color: rgba(33, 150, 243, 1);
    border-bottom: 1px solid rgba(33, 150, 243, 1);
}






/* button */
.modal-button {
    display: flex;
        justify-content: center;
}

.form-button {
    margin: 0;
    margin-top: 30px;
    padding: 10px 52px;
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.05em;
    color: var(--accent-color);
    background: var(--link-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;


    transition-property: color, background, cursor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    color: var(--accent-color);
    background: #0b85e8;
    cursor: pointer;
}