// page-header logo 
.nav-container__logo {
    display: flex;
        padding: 24px 0px;
        margin: 0;

@extend %logo__title;
}

.nav-container__logo-web {
    color: $color-logo-web;
}

.nav-container__logo-studio {
color: $color-logo__header-studio;
}






// footer logo
.footer__logo {
    display: flex;
    padding: 0;
    margin: 0px;

@extend %logo__title;
}

.footer__web {
    margin: 0;
    color: $color-logo-web;
}

.footer__studio {
    margin: 0;
    color: $color-logo__footer-studio;
}